
<HTML>
    <BODY bgcolor="#FFFFFF">
        <form action="searchType" method="POST">
            <input type="text" name="mvtype" id="mvtype" placeholder="your interesting movie type">
            <input type="submit" name="searchbutton" value="Send">
        </form>
    
      
       <h1>
        search for favorite movie type:
        action;
        adult;	
        adventure;	
        animation;	
        biography;	
        comedy;
        crime;	
        documentary;	
        drama;	
        family;	
        fantasy;	
        film_noir;	
        game_show;	
        history;	
        horror;	
        music;	
        musical;	
        mystery;	
        news;	
        reality_tv;	
        romance;	
        sci_fi;	
        short;	
        sport;	
        talk_show;	
        thriller;	
        war;
        western;

       </h1>  


    </BODY>
</HTML>